@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0d193b;
  --secondary: #182a5c;
}

html {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  @apply text-white bg-gra-1;
}

@layer component {
  .bg-gra-1 {
    background-image: linear-gradient(to bottom, var(--primary), #182a5c);
  }

  .bg-gra-2 {
    background-image: linear-gradient(to right, var(--secondary), #00165a);
  }
}
